

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Railway Reservation System</title>
    <link rel="stylesheet" type='text/css' href="/loading.css">
    <link rel="icon" type="image/png" href="/ticket.png">
</head>
<body>
<div class="loading-container">
    <div class="spinner"></div>
    <p>Loading...</p>
</div>
<script>
    setTimeout(function() {
        window.location.href = "/home";
    }, 300);
</script>
</body>
</html>
